<div class="row text-center white-text" id="add-monster-banner">
<h2>Edit <%= resource_name.to_s.humanize %></h2>
</div>
<div class="row text-center" id="add-background-light">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-element">
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true %>
  </div>
<br />
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>
<br />
  <div class="field">
    <%= f.label :avatar %>
    <%= image_tag(@user.avatar.url, width: "200") if @user.avatar? %>
    <%= f.file_field :avatar, autofocus: true %>
    <%= f.hidden_field :avatar_cache, autofocus: true %>
  </div>
  <br />
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
    <br />
  </div>
  <br />
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  <br />
</div>
  <div class="actions">
    <%= f.submit "Update", class: "button" %>
  </div>
<% end %>
</br>
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button" %></p>

<%= link_to "Back", :back %>
</div>
