<%= form_for (@monster) do |f| %>

  <div class="form-element">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br />
  <div class="form-element">
    <%= f.label :source %>
    <%= f.text_field :source %>
  </div>
  <br />
  <div class="form-element">
    <%= f.label :img, "Image" %>
    <%= f.text_field :img %>
  </div>
  <br />
  <div class="form-element">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <br />
  <div class="form-element">
    <%= f.label :email, "Email Address" %>
    <%= f.text_field :email %>
  </div>
  <br />
  <div>
  <%= f.submit "Save", class: "button" %>
  </div>
<% end %>
