<%= form_for (@monster) do |f| %>

  <div class="form-element">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="form-element">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>

  <div class="form-element">
    <%= f.label :img, "Image" %><br />
    <%= f.text_field :img %>
  </div>

  <div class="form-element">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="form-element">
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email %>
  </div>

  <div>
  <%= f.submit "Save", class: "button" %>
  </div>
<% end %>
