<h2><%= review.user.email %> has this to say about @monster.name</h2>
<ul>
  <li><h3>Grossness level:</h3> <%= review.grossness %>/6</li>
  <li><h3>Scariness level:</h3> <%= review.scariness %>/6</li>
  <li><h3>Cleverness level:</h3> <%= review.cleverness %>/6</li>
  <li><h3>Bigness level:</h3> <%= review.bigness %>/6</li>
  <li><h3>Badness level:</h3> <%= review.badness %>/6</li>
</ul>
<% unless review.body.nil? %>
  <h3>Additional feedback:</h3> <%= review.body %>
<% end %>
