    <div class="row text-center">

    </div>

    <div class="row text-center" id="add-monster-banner">
      <div class="white-text">
        <h2>The Right Monster For The Job</h2>
      </div>
      <div class="text-center">
        <ul class="dropdown menu align-middle-dropdown" data-dropdown-menu>
          <li>
            <div class="find-monster-dropdown">Find a monster who is:</div>
            <ul class="menu">
              <li><%= link_to "Cute", monsters_path(:sort_by => "cute") %></li>
              <li><%= link_to "Ugly", monsters_path(:sort_by => "ugly") %></li>
              <li><%= link_to "Silly", monsters_path(:sort_by => "silly") %></li>
              <li><%= link_to "Scary", monsters_path(:sort_by => "scary") %></li>
              <li><%= link_to "Devious", monsters_path(:sort_by => "devious") %></li>
              <li><%= link_to "Derpy", monsters_path(:sort_by => "derpy") %></li>
              <li><%= link_to "Smol", monsters_path(:sort_by => "smol") %></li>
              <li><%= link_to "Huge", monsters_path(:sort_by => "huge") %></li>
              <li><%= link_to "Good", monsters_path(:sort_by => "good") %></li>
              <li><%= link_to "Evil", monsters_path(:sort_by => "evil") %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="row text-center" id="recently-added-monsters">
    </div>

    <div class="row text-center grey-bg" id="about-us">
      <h2>About Us</h2><br />
      At MonsterS, we're dedicated to making the monster job search process
      simple—and stress free. We are a group of monster enthusiasts who wish
      to ensure equal hiring opportunities for the less desirable characters
      from fictional worlds.  We believe everybody deserves a second chance
      to try and leave their past behind in an effort to better themselves.
      Our job search engine is built with powerful technology that aims to
      match the right job opportunities with the right monster. Search by key
      monster attributes such as Bigness, Badness, Deviousness, and many more.
      Become a member to post monsters you think could be a good fit for future
      employment and get alerts when a user reviews them. So, start searching,
      and see what who've got. You might just find the right Monster for the job.
    </div>
