    <div class="row text-center">
      <h3><%= link_to 'All Monsters', monsters_path %> | Random Monster | <%= link_to 'Add A Monster For Hire', new_monster_path %></h3>
    </div>

    <div class="row text-center" id="add-monster-banner">
      <div class="white-text">
        <h2>The Right Monster For The Job</h2>
      </div>
      <div class="text-center">
        <ul class="dropdown menu align-middle-dropdown" data-dropdown-menu>
          <li>
            <div class="find-monster-dropdown">Find a monster who is:</div>
            <ul class="menu">
              <li><%= link_to "Cute", monsters_path(:sort_by => "cute") %></li>
              <li><%= link_to "Ugly", monsters_path(:sort_by => "ugly") %></li>
              <li><%= link_to "Silly", monsters_path(:sort_by => "silly") %></li>
              <li><%= link_to "Scary", monsters_path(:sort_by => "scary") %></li>
              <li><%= link_to "Devious", monsters_path(:sort_by => "devious") %></li>
              <li><%= link_to "Derpy", monsters_path(:sort_by => "derpy") %></li>
              <li><%= link_to "Smol", monsters_path(:sort_by => "smol") %></li>
              <li><%= link_to "Huge", monsters_path(:sort_by => "huge") %></li>
              <li><%= link_to "Good", monsters_path(:sort_by => "good") %></li>
              <li><%= link_to "Evil", monsters_path(:sort_by => "evil") %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="row text-center" id="recently-added-monsters">
    </div>

    <div class="row text-center grey-bg" id="about-us">
      <h2>About Us</h2><br />
      It is! It's the city of New New York! Strictly speaking,
      it's the fifteenth New York since the original, so that makes it
      New-New-New-New-New-New-New-New-New-New-New-New-New-New-New New York.
      You can spend the rest of your life with me, but I can't spend the rest of
       mine with you. I have to live on. Alone. That's the curse of the Time Lords.
       You need to get yourself a better dictionary. When you do, look up 'genocide'.
       You'll find a little picture of me there, and the caption'll read 'Over my dead body'.
    </div>


    <div class="row text-center purple-bg purple-text" id="bottom-bar">
      <div class="large-5 small-12 column">
        <h3>Partners:</h3>
        <ul class="no-bullets">
          <li>Name</li>
          <li>Name</li>
          <li>Name</li>
          <li>Name</li>
        </ul>
      </div>
      <div class="large-2 small-12 column">
        <h1> M
      </div>
      <div class="large-5 small-12 column">
        </h3>Contact Us</h3>
        Find us on Twitter<br />
        or<br />
        123 Monster Place<br />
        Boston, MA 02345
      </div>
    </div>
