<div>
  <%= link_to 'All Monsters', monsters_path %>
</div>
<div class="row text-center white-text" id="show-monster-banner">
<h1><%= @monster.name %></h1>
</div>

<div class="row text-center bold">
<ul class="no-bullets bold">
  <li><img src= '<%= @monster.img %>' /></li>
  <li><a href= '<%= @monster.source %>'>Source</a></li>
  <% unless @monster.description.nil? %>
    <li><%= @monster.description %></li>
  <% end %>
  <% unless @monster.email.nil? %>
    <li><a href= 'mailto:<%= @monster.email %>'>Contact Me</a></li>
  <% end %>
</ul>
</div>

<div class="text-center">
<h3>What Users Think of Me</h3>
</div>
<div class="row text-center purple-bg white-text bold">
<ul class="no-bullets">
  <div class="large-4 small-12 column">
    <li><h4>Average grossness level:</h4> <%= @monster.grossness %>/6</li>
  </div>
  <div class="large-4 small-12 column">
    <li><h4>Average scariness level:</h4> <%= @monster.scariness %>/6</li>
  </div>
  <div class="large-4 small-12 column">
    <li><h4>Average cleverness level:</h4> <%= @monster.cleverness %>/6</li>
  </div>
  <div class="large-6 small-12 column">
    <li><h4>Average bigness level:</h4> <%= @monster.bigness %>/6</li>
  </div>
  <div class="large-6 small-12 column">
    <li><h4>Average badness level:</h4> <%= @monster.badness %>/6</li>
  </div>
</ul>
</div>

<div class="row text-center">
  <% if !current_user.nil? %>
    <% if current_user.id == @monster.user_id || current_user.admin? %>
      <div class="large-6 small-12 column">
        <%= link_to 'Edit this monster', edit_monster_path(@monster) %>
      </div>
      <div class="large-6 small-12 column">
        <%= link_to 'Rate this monster', new_monster_review_path(@monster) %>
      </div>
    <% else %>
      <div class="large-12 small-12 column">
        <%= link_to 'Rate this monster', new_monster_review_path(@monster) %>
      </div>
    <% end %>
  <% else %>
    <div class="large-12 small-12 column">
      <%= link_to 'Rate this monster', new_monster_review_path(@monster) %>
    </div>
  <% end %>
</div>


<div class="row text-center">
<h3>Ratings</h3>
<% if @reviews.empty? %>
  We don't have any ratings for this monster yet!
<% else %>
  <% @reviews.each do |review| %>
    <%= render partial: 'review', locals: {review: review} %>
    <div class="vote-buttons">
      <%= render partial: 'upvote', locals: {review: review} %>
      <%= render partial: 'downvote', locals: {review: review} %>
    </div>
    <div>
      <% upvotes = Vote.where(review_id: review.id, value: "+") %>
      <% downvotes = Vote.where(review_id: review.id, value: "-") %>
      <%= upvotes.length %> user(s) agree(s) | <%= downvotes.length %> user(s) disagree(s) </br></br>
    </div>
    <% if !current_user.nil? %>
      <% if current_user.id == review.user_id || current_user.admin? %>
        <%= link_to 'Edit review', edit_monster_review_path(@monster, review) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>
