<div>
  <%= link_to 'All Monsters', monsters_path %>
</div>

<h1><%= @monster.name %></h1>

<ul>
  <li><img src= '<%= @monster.img %>' /></li>
  <li><a href= '<%= @monster.source %>'>Source</a></li>
  <% unless @monster.description.nil? %>
    <li><%= @monster.description %></li>
  <% end %>
  <% unless @monster.email.nil? %>
    <li><a href= 'mailto:<%= @monster.email %>'>Contact Me</a></li>
  <% end %>
</ul>

<div>
  <%= link_to 'Rate this monster', new_monster_review_path(@monster) %>
</div>

<div>
  <%= link_to 'Edit this monster', edit_monster_path(@monster) %>
</div>

<h1>Ratings</h1>
<% if @reviews.nil? %>
  We don't have any ratings for this monster yet!
<% else %>
  <ul>
    <% @reviews.each do |review| %>
    <li><%= render partial: 'review', locals: {review: review} %></li>
    <div>
      <%= render partial: 'upvote', locals: {review: review} %> <%= render partial: 'downvote', locals: {review: review} %>
    </div>
    <div>
      <% upvotes = Vote.where(review_id: review.id, value: "+") %>
      <% downvotes = Vote.where(review_id: review.id, value: "-") %>
      <%= upvotes.length %> user(s) agree(s) | <%= downvotes.length %> user(s) disagree(s)
    </div>
    <% end %>
  </ul>
<% end %>
