<!DOCTYPE html>

 <html lang="en">
    <head>
     <title>MonstersDotCom</title>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <%= stylesheet_link_tag    'application', media: 'all' %>
     <%= javascript_include_tag 'application' %>
     <%= csrf_meta_tags %>
    </head>

    <body>

      <div class="top-bar">
        <div class="top-bar-title">
          <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="menu-icon dark" type="button" data-toggle></button>
          </span>
          <strong>MonsterS</strong>
        </div>
        <div id="responsive-menu">
          <div class="top-bar-right">
            <ul class="dropdown menu align-middle" data-dropdown-menu>
              <li>
                <% if user_signed_in? %>
                  <a href="#"><%= current_user.username %></a>
                <% else %>
                  <a href="#">Account</a>
                <% end %>
                <ul class="menu vertical">
                  <% if user_signed_in? %>
                    <li><%= link_to 'My profile', edit_user_registration_path %></li>
                    <% if current_user.admin? %>
                      <li><%= link_to 'Manage users', admin_users_path %><li>
                    <% end %>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                  <% else %>
                    <li><%= link_to "Sign up", new_user_registration_path, :class => ''  %></li>
                    <li><%= link_to "Login", new_user_session_path, :class => ''  %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <% if notice %>
        <div class="callout small secondary">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="callout small alert">
          <%= alert %>
        </div>
      <% end %>

    <%= yield %>
    <div class="row text-center purple-bg purple-text" id="bottom-bar">
      <div class="large-5 small-12 column">
        <h3>Partners:</h3>
        <ul class="no-bullets">
          <li>Name</li>
          <li>Name</li>
          <li>Name</li>
          <li>Name</li>
        </ul>
      </div>
      <div class="large-2 small-12 column">
        <h1> M
      </div>
      <div class="large-5 small-12 column">
        </h3>Contact Us</h3>
        Find us on Twitter<br />
        or<br />
        123 Monster Place<br />
        Boston, MA 02345
      </div>
    </div>

    </body>
  </html>
